.contact-us-btn {
  display: block;
  position: relative;
  padding: 10px;
  top: 20px;
  background-color: #fff;
  border-radius: 25px;
  margin: auto;
}
#about-us-card {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 30%;
  width: auto;
  text-align: left;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  background-color: grey;
  z-index: 3;
  // background-image: url(../../images/roofing-background.png);
  // background-repeat: no-repeat;
  // background-size: cover;
}
.video {
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.5;
}
.contact-us-button {
  position: relative;
  float: right;
  display: flex;
  right: 40vw;
}
#who-we-are {
  position: relative;
  text-align: center;
  font-size: 55px;
  // top: 5vh;
  color: rgb(0, 0, 0);
  border-right: 5px solid black;
}

#infoAreaTitles-desktop {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 38px;
  top: 5vh;
}
#roofing-info-card {
  position: relative;
  display: grid;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  text-align:center;
  grid-template-columns: 40% 30%;
  // padding: 20px;
  color: rgb(255, 255, 255);
  background-image: url(../../images/house-with-roof-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
#infoAreaTitles-mobile {
  display: none;
}
#roofing-info-card p {
  background-color: rgba(144, 143, 141, 0.8);
}

.infoText {
  padding: 30px;
  z-index: 30;
}
.info-containers {
  position: relative;
  display: flex;
  width: auto;
  background-image: url(../../images/wood-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px;
  margin: auto;
  justify-content: center;
}
.info-cards {
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background-color: rgba(144, 143, 141, 0.8);
  padding: 20px;
  width: 70%;
}
.info-cards p {
  font-size: 24px;
  padding: 10px;
  text-align: left;
}
.card-header {
  position: relative;
  border-right: 4px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  text-align: center;
}
#service-container {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  background-image: url(../../images/roofing-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#service-container h1 {
  position: absolute;
  top: 30px;
  left: 50px;
}
#service-container-grid {
  position: relative;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  font-size: 24px;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.service-items {
  position: relative;
  padding: 20px;
  width: 70%;
  height: auto;
  min-width: 100px;
  text-align: center;
  margin: auto;
}
.icons {
  width: 40%;
}

@media screen and (max-width: 400px) {
  #about-us-card,
  #roofing-info-card, 
  .info-cards {
    grid-template-columns: none;
  }
  #infoAreaTitles-desktop {
    display: none;
  }
  #who-we-are {
    display: none;
  }
  #infoAreaTitles-mobile {
    display: block;
    text-align: center;
    font-size: 38px;
    color: rgb(255, 255, 255);
  }
  #about-us-card h1 {
    display: block;
  }
  .infoText {
    margin-top: 10px;
  }
  #contact-us-button {
    right: 0vw;
    float: none;
    display: flex;
    justify-content: center;
  }
  #roofing-info-card {
    font-size: 24px;
  }
}
