$primary: #c6def1;
$secondary: #2196f3;
$gray: #ffffff;
$bg: #f3f8fa;
$white: #fff;

.infoArea {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
.infoText {
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.infoAreaTitles {
  color: $secondary;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#roofing-sub-text {
  font-size: 28px;
}
#our-services-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.banner {
  width: auto;
  height: 37.5vmin;
  min-height: 15em;
  background: linear-gradient(#000, transparent, #000), var(--img) 50% / cover;
  background-attachment: fixed;
  background-blend-mode: multiply;

  &:nth-of-type(1) {
    --img: url("../../images/housePic.jpg");
  }

  &:nth-of-type(2) {
    --img: url("../../images/lumberSky.jpg");
  }

  &:nth-of-type(3) {
    --img: url("../../images/skyscraper.jpg");
  }
}
