$primary: #c6def1;
$secondary: #2196f3;
$gray: #ffffff;
$bg: #f3f8fa;
$white: #fff;

#about-us-container {
  position: relative;
  display: flex;
  width: 100vw;
}
#about-us-card {
  position: relative;
  display: grid;
  grid-template-columns: 40% auto;
  background-color: red;
  width: auto;
}
.contact-us-button {
  position: relative;
  float:right;
  display: flex;
  right: 40vw;
}
.infoText { 
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.infoAreaTitles {
  color: $secondary;
  text-align: center;
}
#roofing-into-card {
  position: relative;
  display: grid;
  grid-template-columns: auto 40%;
  background-color:green;

}

// .banner {
//   width: auto;
//   height: 37.5vmin;
//   min-height: 15em;
//   background: linear-gradient(#000, transparent, #000), var(--img) 50% / cover;
//   background-attachment: fixed;
//   background-blend-mode: multiply;

//   &:nth-of-type(1) {
//     --img: url("../../images/housePic.jpg");
//   }

//   &:nth-of-type(2) {
//     --img: url("../../images/lumberSky.jpg");
//   }

//   &:nth-of-type(3) {
//     --img: url("../../images/skyscraper.jpg");
//   }
// }

@media screen and (max-width: 400px) {
  #about-us-card {
    grid-template-columns: none;
  }
  #about-us-card h1 {
    display: block;
  }
  #contact-us-button {
    right: 0vw;
    float:none;
    display: flex;
    justify-content: center;
  }
}