#navbar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar {
    position: relative;
    width: 100%;
    height: contain;
    background-image: url(../../images/roofing-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: green;
}
#navbar-items {
    position: relative;
    // top: 50px;
}
#logo {
    position: relative;
    display: flex;
    width: 15%;
}

#navbar-items li {
    cursor: pointer;
}
.navbar-containers {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0;
    left: 30px;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
    background-color: rgba(44, 43, 43, 0.8);
    color: white;
}
#navbar-contact-container {
    position: relative;
    display: block;
    //TODO: this is whats causing the weird white space
    // float: right;
    left: 80vw;
    bottom: 15vh;
    margin-right: 10px;
    font-size: 20px;
    width: 20%;
    text-align: center;
}
// #left-contact {
//     position: relative;
//     float: left;
//     padding-left: 20px;
// }

#contact-btn {
    color: white;
    text-decoration: none;
}
.phone-number {
    text-decoration: none;
    color: black;
}
#phone-icon {
    position: relative;
    top: 30px;
    right: 40px;

}

@media screen and (max-width: 890px) {
    #logo {
        width: 35%;
    }
    .navbar-containers {
        font-size: 12px;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        padding: 15px;
    }
    #navbar-contact-container {
        width: auto;
        height: 60px;
        font-size: 16px;
        margin-right: 0px;
        padding: 5px;
        left: 19vw;
        background-color:pink;
    }
    #navbar-items {
        position: relative;
    }
}
@media screen and (max-width:550px){
    #navbar-items {
        position: relative;
        right: 20px;
    }
    #left-contact {
        float: none;
        padding-left: 0px;
        display: block;
        top: 50px;
    }
    #phone-icon {
        display: block;
        top: -20px;
        left: 70px;
        border-right: 2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #logo {
        width: auto;
    }
}
