.swiper {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    max-height: 700px;
}
.carousel-images {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    z-index: 1;
}
#test-button {
    position: absolute;
    background-color: #0f70b8;
    width: 200px;
    height: 200px;
    z-index: 5;
}