.swiper {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    max-height: 650px;
}
.carousel-images {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    z-index: 1;
}
