$secondary: #2196f3;
.Container {
  text-align: center;
  color: $secondary;
}
.Container::after {
  content: "";
  clear: both;
  display: table;
}
.box {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.images {
  width: 90%;
  height: 500px;
}
.TextContainer {
  text-align: center;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  justify-self: center;
}
.Headers {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $secondary;
}
#feedBackHeader {
  position: relative;
  color: $secondary;
  text-align: center;
  margin-top: 50px;
}
.feedbackContainter {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
