$primary: #c6def1;
$secondary: #2196f3;
$gray: #ffffff;
$bg: #f3f8fa;
$white: #fff;

body {
  background-color: rgb(207, 206, 206);
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
table,
th,
td {
  margin-top: 5%;
  margin-bottom: 5%;
}
table,
td {
  border: 1px solid black;
  padding: 10px;
  font-size: 1px;
}
th {
  background-color: $secondary;
}
td {
  background-color: rgb(255, 255, 255);
}

span {
  position: relative;
  z-index: 3;
}

// ====== Responsive styles ======= //

@media (max-width: 600px) {
  .wrapper .icon {
    width: 30px;
    height: 30px;
  }
  .swiper-slide {
    font-size: small;
  }
  .mySwiper {
    width: 100%;
  }
  main {
    max-width: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .inputfield {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
  }
  .Container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .images {
    width: 200px;
    height: 230px;
  }
}

@media (max-width: 550px) {
  .footer {
    font-size: small;
  }
}

@media (max-width: 530px) {
  .dropbtn {
    font-size: large;
  }
  .roofblock {
    display: block;
    height: 530px;
  }
  .skylightblock {
    display: block;
    height: 530px;
  }
  .skylightImage {
    position: relative;
    top: 320px;
  }
  .skylightText {
    position: absolute;
    top: 780px;
  }
  .solarblock {
    display: block;
    height: 530px;
  }
  .lumberPic {
    width: 100%;
    left: 0%;
  }
}
@media (max-width: 470px) {
  .navbarList {
    position: relative;
    display: grid;
  }
  nav {
    &.primary-navigation {
      ul li {
        border-left: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-bottom: 1px solid #000000;
      }
    }
  }
  .dropbtn {
    padding: 0px;
  }
  #logo {
    justify-content: center;
    width: 150px;
    height: 100px;
  }
  .messageTextArea {
    justify-content: center;
    width: 300px;
    left: -15%;
  }
}
@media (max-width: 440px) {
  .contactInfo {
    display: block;
  }
  #addressContainer {
    margin-bottom: 20px;
  }
  #infoContainer {
    margin-bottom: 20px;
  }
  .images {
    width: 180px;
    height: 220px;
  }
}
@media (max-width: 300px) {
  .feedbackContainter {
    display: inline;
    text-align: center;
  }
  .feedbackContainter p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
