body {
  background-color: rgb(207, 206, 206);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alumni Sans Pinstripe";
}

a {
  text-decoration: none;
}

table,
th,
td {
  margin-top: 5%;
  margin-bottom: 5%;
}

table,
td {
  border: 1px solid black;
  padding: 10px;
  font-size: 1px;
}

th {
  background-color: #2196f3;
}

td {
  background-color: rgb(255, 255, 255);
}

span {
  position: relative;
  z-index: 3;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(255, 255, 255);
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.mySwiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 500px;
}

.imageText {
  position: absolute;
  background-color: rgba(207, 206, 206, 0.5);
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
}

.learnMoreBtn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
  text-decoration: none;
}

.hide {
  display: none;
}

#logo {
  position: relative;
  width: 20%;
  display: flex;
  align-items: center;
}

.navbar {
  top: 10px;
  padding: 5px;
  background-color: #2196f3;
  color: #fff;
}

.navbarList {
  position: relative;
  display: flex;
  color: #fff;
  font-size: 24px;
}

.roofLinks {
  font-size: large;
}

.dropdown {
  z-index: 2;
}

#roofNav {
  color: black;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
  margin-bottom: 20px;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #2196f3;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #2196f3;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #000000;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
nav.primary-navigation li a {
  color: rgb(15, 15, 15);
}
nav.primary-navigation li a:hover {
  color: #d1d1d1;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px rgb(255, 255, 255);
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

.infoArea {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.infoText {
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.infoAreaTitles {
  color: #2196f3;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#roofing-sub-text {
  font-size: 28px;
}

.banner {
  width: auto;
  height: 37.5vmin;
  min-height: 15em;
  background: linear-gradient(#000, transparent, #000), var(--img) 50%/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
.banner:nth-of-type(1) {
  --img: url("./images/housePic.jpg");
}
.banner:nth-of-type(2) {
  --img: url("./images/lumberSky.jpg");
}
.banner:nth-of-type(3) {
  --img: url("./images/skyscraper.jpg");
}

.inputfield {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  width: auto;
  height: 100%;
  background-color: rgb(23, 119, 203);
}

.nameform {
  position: relative;
  margin-left: 20%;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.emailform {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-left: 20%;
  width: 50%;
}

.checkboxform {
  display: grid;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-left: 20%;
  width: 50%;
  color: #ffffff;
}

.messageTextArea {
  position: relative;
  width: 100%;
  height: 150px;
}

.checkboxOptions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subjectform {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-left: 20%;
  width: 50%;
  text-align: center;
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 40%;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}

.slide div {
  transition: transform 0.4s;
}

.slide:hover div {
  transform: translateX(-10px);
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::-moz-placeholder {
  color: transparent;
}
.form__field:-ms-input-placeholder {
  color: transparent;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: auto;
  cursor: text;
  top: 20px;
}
.form__field:-ms-input-placeholder ~ .form__label {
  font-size: auto;
  cursor: text;
  top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: auto;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #c6def1, #2196f3);
     border-image: linear-gradient(to right, #c6def1, #2196f3);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.btn-1 {
  width: 300px;
  height: 200px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

footer a,
.btn-1 a {
  text-decoration: none;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

.lumberPic {
  position: relative;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 10%;
}

.gridStyle {
  position: relative;
  margin: auto;
  width: 100%;
}

.Container {
  text-align: center;
  color: #2196f3;
}

.Container::after {
  content: "";
  clear: both;
  display: table;
}

.box {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.images {
  width: 90%;
  height: 500px;
}

.TextContainer {
  text-align: center;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  justify-self: center;
}

.Headers {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #2196f3;
}

#feedBackHeader {
  position: relative;
  color: #2196f3;
  text-align: center;
  margin-top: 50px;
}

.feedbackContainter {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.footerHeaders {
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgb(71, 70, 70);
  color: white;
  text-align: center;
}

.contactInfo {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

#creator {
  width: auto;
  position: relative;
  top: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgb(207, 206, 206);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: rgb(71, 70, 70);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .nova:hover,
.wrapper .nova:hover .tooltip,
.wrapper .nova:hover .tooltip::before {
  background: #34a034;
  color: #ffffff;
}

.wrapper .homefacebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .homeinstagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .homenova:hover,
.wrapper .nova:hover .tooltip,
.wrapper .nova:hover .tooltip::before {
  background: #1ea33b;
  color: #ffffff;
}

@media (max-width: 600px) {
  .wrapper .icon {
    width: 30px;
    height: 30px;
  }
  .swiper-slide {
    font-size: small;
  }
  .mySwiper {
    width: 100%;
  }
  main {
    max-width: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .inputfield {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
  }
  .Container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .images {
    width: 200px;
    height: 230px;
  }
}
@media (max-width: 550px) {
  .footer {
    font-size: small;
  }
}
@media (max-width: 530px) {
  .dropbtn {
    font-size: large;
  }
  .roofblock {
    display: block;
    height: 530px;
  }
  .skylightblock {
    display: block;
    height: 530px;
  }
  .skylightImage {
    position: relative;
    top: 320px;
  }
  .skylightText {
    position: absolute;
    top: 780px;
  }
  .solarblock {
    display: block;
    height: 530px;
  }
  .lumberPic {
    width: 100%;
    left: 0%;
  }
}
@media (max-width: 470px) {
  .navbarList {
    position: relative;
    display: grid;
  }
  nav.primary-navigation ul li {
    border-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #000000;
  }
  .dropbtn {
    padding: 0px;
  }
  #logo {
    justify-content: center;
    width: 150px;
    height: 100px;
  }
  .messageTextArea {
    justify-content: center;
    width: 300px;
    left: -15%;
  }
}
@media (max-width: 440px) {
  .contactInfo {
    display: block;
  }
  #addressContainer {
    margin-bottom: 20px;
  }
  #infoContainer {
    margin-bottom: 20px;
  }
  .images {
    width: 180px;
    height: 220px;
  }
}
@media (max-width: 300px) {
  .feedbackContainter {
    display: inline;
    text-align: center;
  }
  .feedbackContainter p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=App.css.map */